port = 8888
allowed_users = "blank1@no.such.domain.i.hope,blank2@no.such.domain.i.hope"

sipid = "sip:localhost"

led_red_channel = 3
led_green_channel = 2
doors_channel = 0
btn_call_channel = 1
snd_dev_capture = "default"
snd_dev_playback = "default"